@typeparam TModel where TModel : ViewModelBase<TModel>

<ListTemplate IsLoading="IsLoading">

    <LoadingContent>
        <div class="spinner-border text-dark"></div>
    </LoadingContent>

    <ListContent>
        <div class="pt-5 container-fluid">
            <div>
                <h3>
                    @Title
                </h3>
            </div>
            @if (ListItems != null && Models != null)
            {
                @ListItems(Models)
            }
        </div>

    </ListContent>
</ListTemplate>

@code {

    [Parameter] public bool IsLoading{ get; set; }

    [Parameter] public string Title { get; set; } = "";

    [Parameter] public IEnumerable<TModel>? Models { get; set; }

    [Parameter] public RenderFragment<IEnumerable<TModel>>? ListItems { get; set; }
}