@page "/Configurations"
@inject NavigationManager Nav

<ul>

    <li>
        <NavLink class="nav-link text-black" href="/Configurations/Assets">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Assets
        </NavLink>
    </li>

    <li>
        <NavLink class="nav-link text-black" href="/Configurations/Stations">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Stations
        </NavLink>
    </li>

    <li>
        <NavLink class="nav-link text-black" href="/Configuration/Employees">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
        </NavLink>
    </li>

</ul>
@code {
}
